version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: notification_postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: notification_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
